<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    
    <!-- Load both CSS bundles -->
    <link rel="stylesheet" href="{{ "css/v3.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/v4.css" | relURL }}">
    
    <!-- TradingView Widget -->
    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
    <script type="text/javascript" src="{{ "js/widget-config.js" | relURL }}"></script>
    <script type="text/javascript" src="{{ "js/widgets.js" | relURL }}"></script>
</head>
<body class="bg-gray-50">
    {{ partial "header.html" . }}
    
    <main>
        {{ block "main" . }}{{ end }}
    </main>
    
    {{ partial "footer.html" . }}
</body>
</html> 