{{ $config := dict
    "colorTheme" "light"
    "dateRange" "12M"
    "showChart" true
    "locale" "en"
    "largeChartUrl" ""
    "isTransparent" true
    "showSymbolLogo" true
    "showFloatingTooltip" false
    "width" "100%"
    "height" "100%"
    "tabs" (slice (dict
        "title" "Indices"
        "symbols" (slice
            (dict "s" "FOREXCOM:SPXUSD" "d" "S&P 500")
            (dict "s" "FOREXCOM:NSXUSD" "d" "Nasdaq 100")
            (dict "s" "FOREXCOM:DJI" "d" "Dow 30")
        )
    ))
}}
{{ $config | jsonify | safeJS }} 