{{ $type := .Get "type" }}
{{ $height := .Get "height" | default "400" }}
{{ $width := .Get "width" | default "100%" }}
{{ $widgets := site.Data.widgets }}

{{ if eq $type "market-overview" }}
<div class="tradingview-widget-container" style="height: {{ $height }}px; width: {{ $width }};">
    <div class="tradingview-widget-container__widget" style="height: 100%;"></div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-overview.js" async>
    {{ $widgets.marketOverview | jsonify | safeJS }}
    </script>
</div>
{{ else if eq $type "market-quotes" }}
<div class="tradingview-widget-container" style="height: {{ $height }}px; width: {{ $width }};">
    <div class="tradingview-widget-container__widget" style="height: 100%;"></div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-market-quotes.js" async>
    {{ $widgets.marketQuotes | jsonify | safeJS }}
    </script>
</div>
{{ end }} 